.sidebar{
    position: fixed;
    top:60px;
    left:0;
    bottom:0;
    width:70px;
    z-index: 200;
    padding-top:5px;
    background-color: white;
}
.sidebar-link{
    height:74px;
    display: flex;
    justify-content: center;
    align-items: center ;
    display: flex;
    flex-direction: column;
    cursor:pointer;
    }
.sidebar-link:hover{
    background-color: lightgray;
}
.sidebar-link img{
    height: 30px;
    margin-bottom:4px;
}
.sidebar-link div{
    font-family:Roboto,arial;
    font-size:10px;
    
}